<div class="cc-widget cc-toolbox-widget" data-ng-controller="DelegateStudentsController">
  <div class="cc-widget-title">
    <h2>Students</h2>
  </div>
  <div class="cc-widget-text" data-cc-spinner-directive="delegateStudents.isLoading">
    <div id="cc_toolbox_widget_delegate_students" data-ng-cloak data-ng-if="students.length">
      <ul data-cc-widget-toolbox-delegate-students-list>
        <li class="cc-flex cc-flex-align-center" data-ng-repeat="student in students"
        data-ng-if="student.viewable || student.privileges.phone">
          <div class="cc-toolbox-widget-delegate-student-picture">

            <!-- WIP: photo display/no-display logic TO BE REPLACED -->
            <div data-ng-if="student.fakeProfilePhotoAPI">
              <img data-cc-image-loaded-directive="profilePictureLoading" alt="{{student.fullName}}'s Profile Picture" data-ng-src="{{student.fakeProfilePhotoAPI}}" width="72" height="96" border="1">
            </div>
            <div data-ng-if="!student.fakeProfilePhotoAPI" class="cc-toolbox-widget-delegate-student-picture-not-available">
              <i class="fa fa-user"><!-- WIP: pending new default/fallback image --></i>
            </div>
            <!-- END photo display/no-display logic ... -->

          </div>
          <div class="cc-widget-padding">
            <button class="cc-button-link" data-ng-click="delegateStudents.actAs(student.emplid)" data-ng-if="student.viewable"><span class="cc-text-big" data-ng-bind="student.fullName"></span></button>
            <div data-ng-if="!student.viewable && student.privileges.phone">
              <strong class="cc-text-big" data-ng-bind="student.fullName"></strong>
              <div><i class="cc-text-small">(TBD person-or-phone-only access message)</i></div>
            </div>
          </div>
        </li>
      </ul>
      <hr>
      <div data-cc-toolbox-widget-delegate-students-adding-others>
        <strong>Adding other students:</strong> If you are a delegate for other students, to add them here please start with the email message you received for each student.
      </div>
    </div>
    <div data-cc-toolbox-widget-delegate-students-list-empty data-ng-if="!students.length">
      <strong>You are not currently a delegate for any students.</strong> If you have been a delegate in the past, your student may have changed your permissions.
    </div>
  </div>
</div>
