<div class="cc-widget cc-toolbox-widget">
  <div class="cc-widget-title">
    <h2>Quick Links</h2>
  </div>
  <div class="cc-list-link-container">
    <h3>Reference Websites</h3>
    <ul class="cc-list-links">
      <li>
        <a href="http://calparents.berkeley.edu">CalParents</a>
        <ul>
          <li>Important Dates for Parents</li>
          <li>Visiting Berkeley</li>
          <li>Jobs and service opportunities for students </li>
          <li>Housing for students</li>
          <li>Finances</li>
          <li>Academics</li>
        </ul>
      </li>
      <li>
        <a href="http://registrar.berkeley.edu/current_students/registration_enrollment/stucal.html">Academic Calendar</a>
      </li>
      <li>
        <a href="http://news.berkeley.edu">UC Berkeley NewsCenter</a>
      </li>
      <li>
        <a href="http://www.berkeley.edu/news/in_news/">Berkeley in the News</a>
      </li>
      <li>
        <a href="http://www.dailycal.org">The Daily Californian</a>
      </li>
    </ul>
  </div>
</div>
