<div
  data-cc-enrollment-card-header-directive
  data-count="$index + 1"
  data-date="Prior to {{enrollmentTerm.enrollmentPeriodsById.phase1.date.epoch * 1000 | date:'MMM d'}}"
  data-title="section.title"
></div>

<div class="cc-enrollment-card-section-content" data-ng-if="section.show">
  <ul class="cc-list-links" data-ng-if="api.user.profile.actAsOptions.canSeeCSLinks">
    <li>
      <div
        data-cc-enrollment-link-directive
        data-link="enrollmentTerm.links.scheduleClasses"
      ></div>
      <div
        data-cc-enrollment-link-directive
        data-link="enrollmentTerm.links.courseCatalog"
      ></div>
      <div
        data-cc-enrollment-link-directive
        data-link="enrollmentTerm.links.discoveryCourses"
      ></div>
      <div
        data-cc-enrollment-link-directive
        data-link="enrollmentTerm.links.bigIdeas"
      ></div>
      <div
        data-cc-enrollment-link-directive
        data-link="enrollmentTerm.links.freshmanSeminars"
      ></div>
      <div
        data-cc-enrollment-link-directive
        data-link="enrollmentTerm.links.decal"
      ></div>
    </li>
  </ul>
  <div
    data-ng-if="!api.user.profile.actAsOptions.canSeeCSLinks"
    data-ng-include="'widgets/enrollment/enrollment_hide_links.html'">
  </div>
</div>
