<div
  data-cc-enrollment-card-header-directive
  data-count="$index + 1"
  data-date="Prior to {{enrollmentTerm.enrollmentPeriodsById.phase1.date.epoch * 1000 | date:'MMM d'}}"
  data-title="section.title"
></div>

<div data-ng-if="section.show">
  <div class="cc-enrollment-card-section-content">
    <ul class="cc-enrollment-card-advisors">
      <li data-ng-repeat="advisor in enrollmentTerm.advisors">
        <div>
          <strong data-ng-bind="advisor.title"></strong>
          <span class="cc-text-light" data-ng-bind="advisor.program"></span>
        </div>
        <div>
          <a
            data-ng-href="https://calnet.berkeley.edu/directory/details.pl?uid={{advisor.id}}"
            data-ng-bind="advisor.name"
          ></a>
        </div>
        <div>
          <a
            data-ng-href="mailto:{{advisor.emailAddress}}"
            data-ng-bind="advisor.emailAddress"
          ></a>
        </div>
      </li>
    </ul>
  </div>
</div>
