<div class="cc-flex cc-flex-space-between cc-flex-align-base">
  <h3 data-ng-bind-template="{{$index + 1}}. {{section.title}}"></h3>
  <div class="cc-enrollment-card-date">Prior to Apr 18</div>
</div>

<div data-ng-if="section.show">
  <ul>
    <li data-ng-repeat="advisor in enrollmentTerm.advisors">
      <div>
        <strong data-ng-bind="advisor.title"></strong>
        <span class="cc-text-light" data-ng-bind="advisor.program"></span>
      </div>
      <div>
        <a
          data-ng-href="https://calnet.berkeley.edu/directory/details.pl?uid={{advisor.id}}"
          data-ng-bind="advisor.name"
        ></a>
      </div>
      <div>
        <a
          data-ng-href="mailto:{{advisor.emailAddress}}"
          data-ng-bind="advisor.emailAddress"
        ></a>
      </div>
    </li>
  </ul>
</div>
