<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:sec="http://www.springframework.org/schema/security" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:oauth="http://www.springframework.org/schema/security/oauth2"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-3.1.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd
	http://www.springframework.org/schema/security/oauth2   http://www.springframework.org/schema/security/spring-security-oauth2-1.0.xsd">

	<bean id="springSecurityFilterChain" class="org.springframework.security.web.FilterChainProxy">
		<sec:filter-chain-map path-type="ant">
			<sec:filter-chain pattern="/secure/logout" filters="logoutFilter" />
			<sec:filter-chain pattern="/secure/**"
				filters="
				casAuthenticationFilter,
				casValidationFilter,
				wrappingFilter,
				j2eePreAuthFilter,
				logoutFilter,
				oauth2ClientFilter,
				pageLoggingFilter" />
			<sec:filter-chain pattern="/**"
												filters="
                casValidationFilter,
                wrappingFilter,
                j2eePreAuthFilter,
                logoutFilter,
                oauth2ClientFilter,
                pageLoggingFilter" />
		</sec:filter-chain-map>
	</bean>

	<bean id="casAuthenticationFilter"
		class="org.jasig.cas.client.authentication.AuthenticationFilter">
		<property name="casServerLoginUrl" value="https://auth-test.berkeley.edu/cas/login" />
		<property name="serverName" value="http://localhost:8080" />
		<property name="renew" value="false" />
	</bean>

	<bean id="casValidationFilter"
		class="org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter">
		<property name="serverName" value="http://localhost:8080" />
		<property name="exceptionOnValidationFailure" value="true" />
		<property name="redirectAfterValidation" value="true" />
		<property name="ticketValidator" ref="ticketValidator" />
	</bean>

	<bean class="org.jasig.cas.client.validation.Cas20ServiceTicketValidator"
	      id="ticketValidator">
		<constructor-arg index="0" value="https://auth-test.berkeley.edu/cas" />
	</bean>

	<bean id="wrappingFilter"
		class="org.jasig.cas.client.util.HttpServletRequestWrapperFilter" />

	<bean id="j2eePreAuthFilter" class="org.springframework.security.web.authentication.preauth.j2ee.J2eePreAuthenticatedProcessingFilter">
		<property name="authenticationManager" ref="authenticationManager" />
		<property name="authenticationDetailsSource">
			<bean
					class="org.springframework.security.web.authentication.WebAuthenticationDetailsSource" />
		</property>
	</bean>

	<sec:authentication-manager alias="authenticationManager">
		<sec:authentication-provider ref="preAuthAuthProvider" />
	</sec:authentication-manager>

	<bean id="preAuthAuthProvider"
		class="org.springframework.security.web.authentication.preauth.PreAuthenticatedAuthenticationProvider">
		<property name="preAuthenticatedUserDetailsService">
			<bean id="userDetailsServiceWrapper"
				class="org.springframework.security.core.userdetails.UserDetailsByNameServiceWrapper">
				<property name="userDetailsService" ref="userDetailsService" />
			</bean>
		</property>
	</bean>

	<bean id="userDetailsService" class="edu.berkeley.calcentral.services.UserService"/>

	<bean id="logoutSuccessHandler" class="org.springframework.security.web.authentication.logout.SimpleUrlLogoutSuccessHandler">
		<property name="defaultTargetUrl" value="https://auth-test.berkeley.edu/cas/logout?url=http%3A%2F%2Flocalhost%3A8080%2F"/>
	</bean>

	<bean id="logoutFilter"
		class="org.springframework.security.web.authentication.logout.LogoutFilter">
		<constructor-arg ref="logoutSuccessHandler"/>
		<constructor-arg>
			<bean
				class="org.springframework.security.web.authentication.logout.SecurityContextLogoutHandler" />
		</constructor-arg>
		<property name="filterProcessesUrl" value="/secure/logout" />
	</bean>

	<bean id="pageLoggingFilter" class="edu.berkeley.calcentral.system.PageLoggerFilter" />

	<oauth:client id="oauth2ClientFilter" />

	<oauth:resource id="canvasSecurity"
		type="authorization_code"
		client-id="set in calcentral.properties"
		client-secret="set in calcentral.properties"
		access-token-uri="http://localhost:8080/fake/oauth2/token"
		user-authorization-uri="http://localhost:8080/fake/oauth2/auth"
		client-authentication-scheme="form"
		use-current-uri="true" />

	<oauth:rest-template id="canvasRestTemplate" resource="canvasSecurity" />

</beans>