<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
			 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			 xmlns:context="http://www.springframework.org/schema/context"
			 xmlns:util="http://www.springframework.org/schema/util"
			 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd">

	<context:component-scan base-package="edu.berkeley.calcentral" />

	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="jdbc:postgresql://localhost:5432/calcentral" />
		<property name="username" value="calcentral" />
		<property name="password" value="secret" />
	</bean>

	<bean id="oracleDataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
		<property name="url" value="jdbc:oracle:thin:@ORACLE_URL:ORACLE_DB" />
		<property name="username" value="ORACLE_USERNAME" />
		<property name="password" value="ORACLE_PASSWORD" />
	</bean>

	<context:property-override
		location="file:///${customPropsDir}/dataSource.properties"
		ignore-resource-not-found="true" />

	<util:properties id="gitProperties" location="classpath:/git.properties"/>

</beans>
