<div class="cc-widget-text">
  <p>
    Your directory information includes address, email, name, phone, and academic information.
  </p>
  <p>
    If you were admitted to UC Berkeley before Fall 2016, your directory information is, by default, restricted from being disclosed to third parties.
  </p>
  <p>
    To change disclosure restrictions on your directory information, please visit <a href="http://studentcentral.berkeley.edu/contact">Cal Student Central</a> and ask to edit your "FERPA restrictions."
  </p>
  <p>
    To learn more, view <a href="http://registrar.berkeley.edu/GeneralInfo/ferpa.html">UC Berkeley's policy governing disclosure of information from student records</a>.
  </p>
</div>
