<div data-ng-if="!canSeeFinaidData">
  <div
    data-ng-if="!selected.finaidYear.termsAndConditions.approved"
    data-cc-finaid-summary-message-directive
    data-item="selected.finaidYear.termsAndConditions"
    data-button-text="'Complete Terms and Conditions'"
    data-finaid-url="finaidUrl"
  ></div>
  <div
    data-ng-if="selected.finaidYear.termsAndConditions.approved && finaidSummary.title4.approved === null"
    data-cc-finaid-summary-message-directive
    data-item="finaidSummary.title4"
    data-button-text="'Complete Title IV'"
    data-finaid-url="finaidUrl"
  ></div>
</div>
