<div class="cc-clearfix-container cc-text-small" data-ng-if="finaidSummary.finaidYears.length">
  <div class="cc-left" data-ng-if="canSeeFinaidData">
    <a data-ng-href="{{finaidUrl}}" data-ng-if="!shoppingSheet.url && !isMainFinaid">View Awards</a>
    <a data-ng-href="{{shoppingSheet.url}}" data-ng-if="shoppingSheet.url"><i class="fa fa-file-text"></i> Shopping Sheet</a>
  </div>
  <div class="cc-right">
    <a href="http://financialaid.berkeley.edu/">Learn more about Financial Aid</a>
  </div>
</div>
