<div data-ng-if="finaidSummaryData.fundingOffered" class="cc-widget-finaid-summary-funding-offered">
  <div class="cc-text-bold" data-cc-finaid-summary-item-directive data-item="finaidSummaryData.fundingOffered.total"></div>
  <div>
    <div data-ng-repeat="category in finaidSummaryData.fundingOffered.categories" class="cc-widget-finaid-summary-funding-offered-category">
      <div data-cc-finaid-summary-item-directive data-item="category.total" data-fade-total="true"></div>
      <hr class="cc-hr-spacing-5" />
      <div data-ng-repeat="item in category.items" class="cc-text-small cc-widget-finaid-summary-indent">
        <div data-cc-finaid-summary-item-directive data-item="item"></div>
      </div>
    </div>
  </div>
</div>
