<div class="cc-widget" data-ng-controller="CarsController">
  <div class="cc-widget-title">
    <h2 class="cc-left">Money You Have</h2>
    <a class="cc-right cc-widget-title-link" href="/finances/details">
      <strong>More Details</strong>
    </a>
  </div>

  <div data-cc-spinner-directive class="cc-widget-text">
  Calculations for Aug 1 - Dec 31:
  Semester Total: $13,300
  Monthly Average: $2,100
  <hr>
  <strong>Starting Amount</strong>
  Enter the amount you have available in your accounts as of the beginning of the selected semester.
  <input type="text" placeholder="" class="ng-pristine ng-valid ng-touched">
  <hr>
  <strong>Work Income</strong><a href="" class="cc-right">Add Additional Job</a>
  </div>
</div>
