<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <!-- CalCentral user info -->
    <bean id="calCentralUserService" class="edu.berkeley.calcentral.services.CalCentralUserService">
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean id="userDao" class="edu.berkeley.calcentral.daos.jdbc.JdbcUserDao">
        <property name="dataSource" ref="dataSource"/>
    </bean>

	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.postgresql.Driver"/>
		<property name="url" value="jdbc:postgresql:localhost:5432/calcentral"/>
		<property name="username" value="calcentral"/>
		<property name="password" value="secret"/>
	</bean>

	<!--  <context:property-override location="file:///${customPropsDir}/dataSource.properties" ignore-resource-not-found="true"/> -->

</beans>
