/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 *
 * Detailed information about this CSS: h5bp.com/css
 *
 * ==|== normalize ==========================================================
 */


/* =============================================================================
	 HTML5 display definitions
	 ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }


/* =============================================================================
	 Base
	 ========================================================================== */

/*
 * 1. Correct text resizing oddly in IE6/7 when body font-size is set using em units
 * 2. Prevent iOS text size adjust on device orientation change, without disabling user zoom: h5bp.com/g
 */

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }

body { margin: 0; font-size: 1em; line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate
 * Also: hot pink! (or customize the background color to match your design)
 */

::-moz-selection { background: #57C9FA; color: #fff; text-shadow: none; }
::selection { background: #57C9FA; color: #fff; text-shadow: none; }


/* =============================================================================
	 Links
	 ========================================================================== */

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }

/* Improve readability when focused and hovered in all browsers: h5bp.com/h */
a:hover, a:active { outline: 0; }


/* =============================================================================
	 Typography
	 ========================================================================== */

abbr[title] { border-bottom: 1px dotted; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 40px; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }

/* Redeclare monospace font family: h5bp.com/j */
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }

/* Improve readability of pre-formatted text in all browsers */
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; }
q:before, q:after { content: ""; content: none; }

small { font-size: 85%; }

/* Position subscript and superscript content without affecting line-height: h5bp.com/k */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }


/* =============================================================================
	 Lists
	 ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
	 Embedded content
	 ========================================================================== */

/*
 * 1. Improve image quality when scaled in IE7: h5bp.com/d
 * 2. Remove the gap between images and borders on image containers: h5bp.com/i/440
 */

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

/*
 * Correct overflow not hidden in IE9
 */

svg:not(:root) { overflow: hidden; }


/* =============================================================================
	 Figures
	 ========================================================================== */

figure { margin: 0; }


/* =============================================================================
	 Forms
	 ========================================================================== */

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

/*
 * 1. Correct color not inheriting in IE6/7/8/9
 * 2. Correct alignment displayed oddly in IE6/7
 */

legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }

/*
 * 1. Correct font-size not inheriting in all browsers
 * 2. Remove margins in FF3/4 S5 Chrome
 * 3. Define consistent vertical alignment display in all browsers
 */

button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }

/*
 * 1. Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet)
 */

button, input { line-height: normal; }

/*
 * 1. Display hand cursor for clickable form elements
 * 2. Allow styling of clickable form elements in iOS
 * 3. Correct inner spacing displayed oddly in IE7 (doesn't effect IE6)
 */

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }

/*
 * Re-set default cursor for disabled elements
 */

button[disabled], input[disabled] { cursor: default; }

/*
 * Consistent box sizing and appearance
 */

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/*
 * Remove inner padding and border in FF3/4: h5bp.com/l
 */

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE6/7/8/9
 * 2. Allow only vertical resizing
 */

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:valid, textarea:valid {	}
input:invalid, textarea:invalid { background-color: #f0dddd; }


/* =============================================================================
	 Tables
	 ========================================================================== */

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* =============================================================================
	 Chrome Frame Prompt
	 ========================================================================== */

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/* ==|== primary styles =====================================================
	 Author:
	 ========================================================================== */
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body {
	background: #F2F2F2;
	color: #444;
	font-size: 13px;
}
a, a:visited, a:active {
	color: #2683BC;
	text-decoration: none;
}
a:hover, a:focus {
	color: #2683BC;
	text-decoration: underline;
}

body > header {
	background: url("/img/myb/cc_branding_strip.png");
	cursor: pointer;
	margin: 0 auto;
	height: 42px;
	position: relative;
	width: 960px;
}
.cc-page-index header {
	background: url("/img/myb/calcentral_masthead_landing.png");
	height: 90px;
}
body > header > h1 {
	margin: 0;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}

/* Useful classes */
.cc-alert {
	color: #FB0007 !important;
}
.cc-right {
	float: right;
}
.cc-left {
	float: left;
}
.cc-standout {
	font-weight: bold;
}
.cc-top-20 {
	margin-top: 20px;
}
.cc-ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/* Link buttons */
.cc-link-button {
	background: none repeat scroll 0 0 transparent;
	border: medium none;
	color: #2683bc;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin: 0;
	padding: 0;
	text-align: left;
}
.cc-link-button:disabled {
	cursor: default !important;
	color: #999;
}
.cc-link-button:focus {
	box-shadow: none !important;
}
.cc-link-button:hover {
	color: #999;
	cursor: pointer;
	text-decoration: none;
}
.cc-link-button::-moz-focus-inner {
	border: 0;
	margin: 0;
	padding: 0;
}

/* Launcher */
.cc-launcher {
	padding: 1px 0 1px 5px;
	position: absolute;
	right: 0;
	top: 0;
}
.cc-launcher, .cc-launcher .cc-launcher-dropdown {
	background: #CDDDE2;
	border: 1px solid #9AB8CA;
	border-bottom-left-radius: 6px;
	border-right: none;
	border-top: none;
}
.cc-launcher a {
	color: #15315C;
	font-weight: bold;
}
.cc-launcher .cc-launcher-icon {
	background: no-repeat;
	float: left;
	height: 16px;
	margin-left: 5px;
	width: 16px;
}
.cc-launcher .cc-launcher-icon-mail {
	background-image: url('/img/myb/mail_icon_16x16.png');
}
.cc-launcher .cc-launcher-icon-calendar {
	background-image: url('/img/myb/calendar_icon_16x16.png');
}
.cc-launcher .cc-launcher-icon-drive {
	background-image: url('/img/myb/drive_icon_16x16.png');
}
.cc-launcher .cc-launcher-info {
	border-left: 1px solid #9AB8CA;
	margin-left: 10px;
	padding: 5px 10px;
}
.cc-launcher .cc-launcher-icon-dropdown {
	font-size: 8px;
}
.cc-launcher .cc-launcher-dropdown {
	display: none;
	position: absolute;
	right: 0;
	z-index: 4;
}
.cc-launcher .cc-launcher-dropdown a {
	display: block;
	padding: 4px 10px;
	text-align: right;
}

/* Top navigation */
.cc-topnavigation {
	background: #14315C;
	position: absolute;
	width: 100%;
}
.cc-topnavigation > ul {
	margin: 0 auto;
	width: 960px;
}
.cc-topnavigation > ul li {
	list-style-type: none;
	margin: 0 5px;
	font-weight: bold;
	position: relative;
}
.cc-topnavigation > ul li a {
	color: #fff;
	display: block;
	padding: 8px 10px;
}
.cc-topnavigation ul li a:hover, .cc-topnavigation ul li a:focus, .cc-topnavigation .cc-topnavigation-selected {
	color: #FDD692;
	text-decoration: none;
}
.cc-topnavigation .cc-topnavigation-selected::before {
	border-bottom: 6px solid white;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
}
.cc-topnavigation .cc-topnavigation-selected::before, .cc-topnavigation .cc-topnavigation-selected::after {
	bottom: 0;
	content: "";
	height: 0;
	left: 45%;
	position: absolute;
	width: 0;
}

/* Top navigation search */
.cc-topnavigation input[type='text'] {
	background: #fff url('/img/myb/magnifying-glass_icon_16x16.png') 298px center no-repeat;
	border: 1px solid #373737;
	border-radius: 4px;
	margin: 6px 10px 0 0;
	padding: 2px 20px 2px 4px;
	width: 320px;
}

/* Top navigation dropdown */
.cc-topnavigation a[aria-haspopup='true']:hover, .cc-topnavigation-dropdown-selected {
	background: #ffffff;
	border: 4px solid #032152;
	border-bottom: none;
	color: #032152 !important;
	left: 4px;
	margin-top: -8px;
	position: relative;
	top: 4px;
	z-index: 3;
}
.cc-topnavigation .cc-topnavigation-dropdown {
	background: #fff;
	border: 4px solid #032152;
	-moz-box-shadow: 6px 6px 10px -4px #333;
	-webkit-box-shadow: 6px 6px 10px -4px #333;
	box-shadow: 6px 6px 10px -4px #333;
	left: 4px;
	padding-bottom: 5px;
	position: absolute;
	width: 475px;
	z-index: 2;
}
.cc-topnavigation .cc-topnavigation-dropdown > div {
	float: left;
	width: 155px;
}
.cc-topnavigation .cc-topnavigation-dropdown h3 {
	color: #9D783D;
	font-size: 13px;
	margin: 10px 10px 3px;
}
.cc-topnavigation .cc-topnavigation-dropdown ul li {
	margin: 0;
}
.cc-topnavigation .cc-topnavigation-dropdown a {
	color: #2683BC;
	display: block;
	font-size: 12px;
	font-weight: normal;
	padding: 5px 15px;
	text-decoration: none;
}
.cc-topnavigation .cc-topnavigation-dropdown a:hover, .cc-topnavigation .cc-topnavigation-dropdown a:focus {
	background: #24517D;
	color: #fff;
}

/* Main container */
.cc-container-main {
	background: #fff;
	margin: 34px auto 0;
	overflow: hidden;
	width: 960px;
}

.cc-container-main h1 {
	border-bottom: 2px solid #E4C495;
	font-size: 15px;
	margin: 0 0 10px 0;
}

/* Full container */
.cc-container-main-full {
	padding: 20px;
}

/* Left main container */
.cc-container-main-left {
	background: #ffffff;
	background: -moz-linear-gradient(top, #f7f7f7 0%, #f7f7f7 5%, #ffffff 12%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f7f7f7), color-stop(5%, #f7f7f7), color-stop(12%, #ffffff));
	background: -webkit-linear-gradient(top, #f7f7f7 0%, #f7f7f7 5%, #ffffff 12%);
	background: -o-linear-gradient(top, #f7f7f7 0%, #f7f7f7 5%, #ffffff 12%);
	background: -ms-linear-gradient(top, #f7f7f7 0%, #f7f7f7 5%, #ffffff 12%);
	background: linear-gradient(top, #f7f7f7 0%, #f7f7f7 5%, #ffffff 12%);
	float: left;
	margin-bottom: -99979px;
	min-height: 500px;
	padding-bottom: 99999px;
	width: 185px;
}

/* Right main container */
.cc-container-main-right {
	border-left: 1px solid #d6dadd;
	border-top: 1px solid #d6dadd;
	-moz-box-shadow: 1px -2px 7px #888;
	-webkit-box-shadow: 1px -2px 7px #888;
	box-shadow: 1px -2px 7px #888;
	float: left;
	margin-bottom: -99979px;
	padding: 20px 20px 99999px 20px;
	width: 775px;
}

.cc-container-main-left, .cc-container-main-right {
	min-height: 500px;
}

/* Entity */
.cc-entity {
	color: #666;
	font-size: 14px;
	word-wrap: break-word;
}

/* Lefthandnavigation */
.cc-lefthandnavigation {
	margin-top: 20px;
}
.cc-lefthandnavigation a {
	color: #707E8C;
	display: block;
	font-weight: bold;
	padding: 8px 5px 8px 28px;
	word-wrap: break-word;
}

.cc-entity-name.cc-lefthandnavigation a, .cc-entity-name-nolink {
	display: block;
	margin: 20px 0 0;
	padding: 8px 5px 8px 10px;
}

.cc-lefthandnavigation .cc-lefthandnavigation-item-selected {
	color: #ffffff;
	background: #012955;
	background: -webkit-linear-gradient(top, #3b5d86, #012955);
	background: -moz-linear-gradient(top, #3b5d86, #012955);
	background: -o-linear-gradient(top, #3b5d86, #012955);
	background: -ms-linear-gradient(top, #3b5d86, #012955);
	background: linear-gradient(top, #3b5d86, #012955);
}

/* Error pages */
.cc-page-404 .cc-container-main img {
	margin-right: 50px;
}

.cc-page-404 h2 {
	margin-top: 0;
}

/* Dashboard page */

.cc-page-dashboard .cc-widget-list {
	height: 184px;
}
.cc-page-dashboard #cc-widget-mycalendar {
	width: 180px;
}
.cc-page-dashboard .cc-widget-mycalendar-container {
	height: 186px;
}
.cc-page-dashboard #cc-widget-tasks {
	width: 370px;
}
.cc-page-dashboard #cc-widget-notifications {
	margin-right: 0;
}
.cc-page-dashboard #cc-widget-myclasses {
	clear: both;
	width: 180px;
}
.cc-page-dashboard .cc-widget-body {
	font-size: 0.9em;
	height: 225px;
	overflow: auto;
}

/* Colleges and schools */
.cc-page-colleges-and-schools-container ul {
	padding: 0;
	margin-top: 10px;
}
.cc-page-colleges-and-schools-container ul li {
	list-style-type: none;
}
.cc-page-colleges-and-schools-container ul li a {
	background: #194270 url('/img/myb/right-arrow-icon.png') 98% center no-repeat;
	border-radius: 5px;
	color: #fff;
	display: block;
	float: left;
	margin-bottom: 10px;
	margin-right: 20px;
	padding: 10px;
	width: 290px;
}
.cc-page-colleges-and-schools-container ul li:nth-child(3n+3) a {
	margin-right: 0;
}
.cc-page-colleges-and-schools-title {
	display: block;
	font-size: 16px;
	margin-left: 10px;
}
.cc-page-colleges-and-schools-container ul li .cc-page-colleges-and-schools-item-letters-and-science {
	background-color: #3375A5;
}
.cc-page-colleges-and-schools-container ul li .cc-page-colleges-and-schools-item-graduate {
	background-color: #B67325;
}

/* Classpage */
.cc-page-classpage-courseinfo .cc-widget-main,
.cc-page-classpage-description .cc-widget-main,
.cc-page-classpage-instructor .cc-widget-main {
	overflow: hidden;
	padding: 20px;
}

.cc-page-classpage-instructor, .cc-page-classpage-sections, .cc-page-classpage-header, .cc-classlist-section {
	width: 100% !important;
}

.cc-page-classpage-instructor ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.cc-page-classpage-instructor .cc-page-classpage-instructor-profile {
	float: left;
	margin-right: 20px;
	padding-bottom:20px;
}
.cc-page-classpage-instructor-item li {
	margin-bottom: 20px;
	overflow: hidden;
}
ul.cc-page-classpage-instructor-item li:last-child {
	margin-bottom: 0;
}

.cc-page-classpage-instructor-item li ul.cc-page-classpage-list {
	margin-left: 165px;
}
.cc-page-classpage-instructor-heading {
	font-weight: bold;
	margin: 0 0 10px 295px;
	padding-top: 20px;
}

.cc-page-classpage-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.cc-page-classpage-list li {
	display: block;
	overflow: hidden;
}
.cc-page-classpage-list li span:first-child {
	color: #666;
	float: left;
	font-weight: bold;
	margin-right: 10px;
	text-align: right;
	width: 120px;
}

/* Class listings per category */
.cc-page-classlist-container .cc-page-classlist-title {
	font-size: 2.0em;
}

.cc-page-classlist-breadcrumbs {
	margin-bottom: 10px;
	font-weight: bold;
}

/* Index */
.cc-page-index-welcome {
	border: 1px solid #B6C6D3;
	float: left;
	margin-top: 20px;
	width: 339px;
}

.cc-page-index-welcome1 {
	margin: 20px 20px 20px 110px;
}
.cc-page-index-welcome1 h3 {
	color: #fff;
	background-color: #C68811;
	border-bottom: 5px solid #3F8BBF;
	font-size: 1.5em;
	font-weight: normal;
	margin: 0;
	padding: 10px;
}
.cc-page-index-welcome1 p {
	background: url('/img/myb/calcentral_homepage_collage.png') no-repeat top left scroll;
	font-size: 1.3em;
	height: 329px;
	margin: 0;
	padding: 10px;
}

.cc-page-index-welcome2 {
	height: 412px;
}
.cc-page-index-welcome2 h3 {
	border-bottom: 5px solid #3F8BBF;
	font-size: 1.4em;
	margin: 0;
	padding: 10px;
}
.cc-page-index-welcome2 p {
	margin: 1em 0.5em 1em 1em;
}
.cc-page-index-welcome2 li {
	line-height: 1.5em;
	list-style-image: url('/img/myb/speech_bubble_tiny.png');
}
.cc-page-index-welcome2 .cc-page-index-welcome2-herefromyou {
	font-weight: bold;
	font-size: 1.1em;
}
.cc-page-index-welcome2 .cc-page-index-welcome2-handshake {
	padding-left: 50px;
	background: url('/img/myb/handshake.png') no-repeat top left scroll;
}

/* Classpages */
.classpages_table_label {
	color: #999;
	font-weight: bold;
	padding-bottom: 3px;
	padding-right: 7px;
	text-align: right;
	vertical-align: top;
	white-space: nowrap;
}

table#classpages_section_results {
	font-size: 0.9em;
	margin-top: 20px;
	width: 100%;
}

table#classpages_section_results,
table#classpages_section_results td,
table#classpages_section_results th {
	border-collapse: collapse;
	padding: 3px 5px 3px 2px;
	vertical-align: top;
}

table#classpages_section_results th {
	background-color: #e4e9ed;
	color: #747577;
	font-size: 1.1em;
	padding-left: 5px;
	text-align: left;
}

table.classpages_sections_table_inner {
	margin: 0 0 0 -5px;
}

table.classpages_sections_table_inner td {
	border: none;
}

table tr.classpages_classrow td {
	border-top: 1px solid #D5D5D5;
}

td.classpages_sections_col1, th.classpages_sections_col1 {
	min-width: 110px;
	vertical-align: top;
	width: 110px;
}

th.classpages_sections_timecol, td.classpages_sections_timecol, th.classpages_sections_loccol, td.classpages_sections_loccol {
	width: 100px;
}

span.classpages_section_title_warrow {
	margin-left: 15px;
}

/* Expando arrows */
.classpages_sections_arrow, .classpages_sections_arrow_opened {
	background: url("/img/myb/icons_sprite.png") no-repeat scroll -863px -21px transparent;
}
.classpages_sections_arrow {
	height: 10px;
	margin: 2px 3px 0 2px;
	position: absolute;
	width: 12px;
}
.classpages_sections_arrow_opened {
	background-position: -882px -22px;
}
/* Show & hide labels based on whether the section is open or not */
.classpages_sections_arrow span:last-child {
	display: none;
}
.classpages_sections_arrow_opened span:first-child{
	display: none;
}
.classpages_sections_arrow_opened span:last-child{
	display: block;
}

span#classpages_showhideall {
	float: right;
	margin-right: 10px;
}

.classpages_nolink {
	text-decoration: none;
	color: #666666 !important;
}

/* Widgets */
.cc-container-widgets {
	margin: 10px;
}
.cc-container-widget {
	border: solid 1px #DFDFDF;
	border-top: none;
	border-radius: 0 0 5px 5px;
	float: left;
	margin-bottom: 10px;
	margin-right: 10px;
	width: 368px;
}
.cc-widget-main {
	padding: 0 17px;
}
.cc-widget-section-label {
	clear: both;
	color: #232323;
	font-size: 1.2em;
	margin-top: 5px;
}
.cc-widget-section-list {
	border-bottom: 1px dotted #cacaca;
}

/*Temporary pending design input*/
.cc-widget-main h3 {
	margin-top:-10px;
}
.cc-widget-title {
	background: #ececec;
	background: -moz-linear-gradient(top, #ececec 0%, #e2e2e2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(100%, #e2e2e2));
	background: -webkit-linear-gradient(top, #ececec 0%, #e2e2e2 100%);
	background: -o-linear-gradient(top, #ececec 0%, #e2e2e2 100%);
	background: -ms-linear-gradient(top, #ececec 0%, #e2e2e2 100%);
	background: linear-gradient(top, #ececec 0%, #e2e2e2 100%);
}
.cc-widget-title h2 {
	color: #666;
	margin: 0;
	padding: 8px 12px;
	font-size: 13px;
}

.cc-container-widget .cc-widget-list {
	margin: 0;
	max-height: 200px;
	overflow: auto;
	padding: 0;
}
.cc-container-widget .cc-widget-list li {
	list-style-type: none;
}
.cc-container-widget .cc-widget-list li a {
	display: block;
	padding: 6px 35px 0;
}
.cc-container-widget .cc-widget-list li:last-child a {
	border-bottom: none;
}

.cc-container-widget .cc-widget-footer {
	background: #ececec;
	background: -moz-linear-gradient(top, #ececec 0%, #e2e2e2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ececec), color-stop(100%, #e2e2e2));
	background: -webkit-linear-gradient(top, #ececec 0%, #e2e2e2 100%);
	background: -o-linear-gradient(top, #ececec 0%, #e2e2e2 100%);
	background: -ms-linear-gradient(top, #ececec 0%, #e2e2e2 100%);
	background: linear-gradient(top, #ececec 0%, #e2e2e2 100%);
	border-radius: 0 0 5px 5px;
	box-shadow: 0 1px 0 0 #bbb;
	margin-top: 7px;
	min-height: 14px;
	padding: 7px 12px;
	text-align: right;
}
.cc-container-widget .cc-widget-text {
	color: #666;
	padding: 20px;
}

/* Footer */
body > footer {
	clear: both;
	font-size: 0.85em;
	margin: 0 auto;
	overflow: hidden;
	padding: 10px 10px 15px;
	width: 960px;
}

body > footer a {
	float: right;
	font-weight: bold;
	padding-left: 21px;
}


/* ==|== media queries ======================================================
	 EXAMPLE Media Query for Responsive Design.
	 This example overrides the primary ('mobile first') styles
	 Modify as content requires.
	 ========================================================================== */

@media only screen and (max-width: 960px) {
	/* Style adjustments for viewports that meet the condition */
	body > header, body > footer, .cc-container-main, .cc-topnavigation > ul {
		width: 100%;
	}
	.cc-lefthandnavigation a {
		padding-left: 10%;
	}
	.cc-container-main-left {
		width: 25%;
	}
	.cc-container-main-right {
		width: 75%;
	}
	.cc-page-colleges-and-schools-container ul li:nth-child(3n+3) a {
		margin-right: 20px;
	}
	.cc-page-colleges-and-schools-container ul li a {
		width: 100%;
	}
	.cc-page-index-welcome {
		margin: 20px;
	}
}



/* ==|== non-semantic helper classes ========================================
	 Please define your styles before this section.
	 ========================================================================== */

/* For image replacement */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }



/* ==|== print styles =======================================================
	 Print styles.
	 Inlined to avoid required HTTP connection: h5bp.com/r
	 ========================================================================== */

@media print {
	* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
	a, a:visited { text-decoration: underline; }
	a[href]:after { content: " (" attr(href) ")"; }
	abbr[title]:after { content: " (" attr(title) ")"; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }	/* Don't show links for images, or javascript/internal links */
	pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
	thead { display: table-header-group; } /* h5bp.com/t */
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; }
	@page { margin: 0.5cm; }
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
}
