.cc-widget-myclasses-list .cc-widget-list .cc-myclasses-link-with-title {
    padding-bottom: 0;
}

.cc-widget-myclasses-list .cc-widget-list .cc-widget-list-subtitle {
   margin: -3px 0 0 21px;
   font-size: 10px;
   padding-bottom: 4px;
}
