.cc-widget-myclasses-list .cc-widget-list .cc-myclasses-link-with-title {
	padding-bottom: 0;
}

.cc-widget-myclasses-list .cc-widget-list .cc-widget-list-subtitle {
	font-size: 10px;
	line-height: 8px;
	margin-left: 21px;
	padding-bottom: 7px;
}
