.cc-widget-mycalendar-datelist {
	height: 193px;
	list-style-type: none;
	margin: 0;
	overflow: auto;
	padding: 0;
}

/* List items */
.cc-widget-mycalendar-datelist li {
	border-bottom: 1px dotted #999;
	color: #474747;
	overflow: hidden;
}
.cc-widget-mycalendar-datelist li:first-child {
	color: #000;
}
.cc-widget-mycalendar-datelist li:last-child {
	border-bottom: none;
}

/* Time */
.cc-widget-mycalendar-datelist-time {
	font-family: 'Arial Narrow', sans-serif;
	margin-right: 5px;
}
.cc-widget-mycalendar-datelist-time-hour {
	font-size: 29px;
	text-align: right;
	width: 30px;
}
.cc-widget-mycalendar-datelist-time-minutes {
	font-size: 14px;
	line-height: 12px;
	padding-top: 8px;
}
.cc-widget-mycalendar-datelist-time-ampm {
	font-size: 11px;
}
.cc-widget-mycalendar-datelist-time-allday {
	line-height: 25px;
	margin-bottom: 15px;
	text-align: right;
	width: 44px;
}

/* Summary & location */
.cc-widget-mycalendar-datelist-summary {
	font-size: 12px;
	line-height: 13px;
	padding-top: 8px;
}
.cc-widget-mycalendar-datelist-location {
	font-size: 10px;
}
