<web-app id="WebApp_ID" version="2.4"
				 xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
				 xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

	<display-name>CalCentral Web Application</display-name>

	<context-param>
		<param-name>server</param-name>
		<param-value>http://localhost:${jetty.port}</param-value>
	</context-param>

	<!-- Database. -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			/WEB-INF/security/applicationContext-localSecurity.xml
			classpath:applicationContext-service.xml
		</param-value>
	</context-param>

	<mime-mapping>
		<extension>json</extension>
		<mime-type>application/json</mime-type>
	</mime-mapping>

	<filter>
		<filter-name>CAS Single Sign Out Filter</filter-name>
		<filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>CAS Single Sign Out Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<listener>
		<listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>

	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
	</listener>

	<error-page>
		<error-code>404</error-code>
		<location>/404.jsp</location>
	</error-page>

	<error-page>
		<error-code>403</error-code>
		<location>/403.jsp</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/500.jsp</location>
	</error-page>

	<error-page>
		<exception-type>java.lang.Exception</exception-type>
		<location>/500.jsp</location>
	</error-page>

	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-servlet.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/secure/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<session-config>
		<session-timeout>240</session-timeout>
	</session-config>

	<listener>
		<listener-class>
			org.jboss.resteasy.plugins.server.servlet.ResteasyBootstrap
		</listener-class>
	</listener>

	<context-param>
		<param-name>resteasy.server.cache.maxsize</param-name>
		<param-value>50000</param-value>
	</context-param>

	<context-param>
		<param-name>resteasy.server.cache.eviction.wakeup.interval</param-name>
		<param-value>5000</param-value>
	</context-param>

	<listener>
		<listener-class>
			org.jboss.resteasy.plugins.cache.server.ServletServerCache
		</listener-class>
	</listener>

	<filter>
		<filter-name>userSecurityFilter</filter-name>
		<filter-class>edu.berkeley.calcentral.system.UserSecurityFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>userSecurityFilter</filter-name>
		<url-pattern>/api/user/*</url-pattern>
	</filter-mapping>

</web-app>
