.cc-page-calcentral-update {

  .cc-page-calcentral-update-body {
    margin-top: 10px;
    p {
      margin: 10px 0;
    }
  }

  .cc-page-calcentral-update-container {
    margin: 15px;
  }

  .cc-page-calcentral-update-date {
    color: $cc-color-launcher-border;
    font-size: 15px;
    font-weight: bold;
  }
}
