.cc-enrollment-card {
  .cc-enrollment-card-advisors {
    margin-left: 0;
    > li {
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }
  }
  .cc-enrollment-card-head {
    margin: 0 10px;
    padding-bottom: 0;
  }
  .cc-enrollment-card-header-title {
    font-size: 14px;
  }
  .cc-enrollment-card-headersub-title {
    font-size: 13px;
  }
  .cc-enrollment-card-icon {
    padding-right: 5px;
  }
  .cc-enrollment-card-section {
    padding: 5px 10px;
  }
  .cc-enrollment-card-section-content {
    margin: 10px 0;
  }
}
