.cc-toolbox {
  .cc-toolbox-apitest-list {
    margin-top: 10px;
    .cc-toolbox-apitest-pending {
      color: $cc-color-dark-grey;
    }
    .cc-toolbox-apitest-failed {
      color: $cc-color-red;
    }
    .cc-toolbox-apitest-success {
      color: $cc-color-green-plus;
    }
    .cc-toolbox-apitest-icon {
      margin-right: 5px;
    }
  }
  .cc-toolbox-error {
    margin-bottom: 5px;
  }
  .cc-toolbox-section {
    margin-top: 30px;
  }
  .cc-toolbox-table {
    margin-top: 20px;
    td, th {
      border-bottom: 1px solid $cc-color-widget-background;
      font-size: 12px;
      padding: 4px;
    }
  }
  .cc-toolbox-user-section {
    margin-top: 10px;
  }
  .cc-toolbox-widget {
    background: $cc-color-white;
    form {
      background: transparent;
      border: 0;
      margin: 0;
      padding: 0;
      label {
        display: inline-block;
        margin: 0;
        text-align: left;
      }
    }
    .cc-toolbox-widget-delegate-student-profile {
      margin: 0 0 10px;

      .cc-toolbox-widget-delegate-student-profile-img {
        border: 1px solid $cc-color-lighter-medium-grey;
        height: 96px;
        width: 72px;
      }

      .cc-toolbox-widget-delegate-student-profile-img-not-available {
        background: url('/assets/images/app_icons/icon-76@2x.png');
        border: 1px solid $cc-color-lighter-medium-grey;
        height: 96px;
        width: 72px;
      }
    }
  }
}
