<div class="cc-page-calcentral-update">
  <div class="row collapse">
    <div class="medium-9 columns">

      <div class="cc-widget">
        <div class="cc-widget-title">
          <h2 class="cc-left">CalCentral Update</h2>
        </div>
        <div class="cc-page-calcentral-update-container" data-cc-spinner-directive="update.isLoading">
          <div data-ng-if="update.alert">
            <h3>
              <span data-ng-bind="update.alert.timestamp.dateString"></span> - <span data-ng-bind="update.alert.title"></span>
            </h3>
            <div class="cc-page-calcentral-update-body" data-ng-bind-html="update.alert.body"></div>
          </div>
          <div data-ng-if="!update.alert">There are no updates at this time.</div>
        </div>
      </div>

    </div>
  </div>
</div>
